################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IoReader/.vs/IoReader/v16
/IoReader/IoReader/obj/Debug
/IoReader/IoReader/bin/Debug
/src/IoReader/bin/Debug
/src/IoReader/obj/Debug/Views
/src/IoReader.Models/bin/Debug
/src/IoReader.Models/obj/Debug
obj
.vs
.vs
obj
obj
/src/IoReader.UI/bin/Debug
/src/*.user
/src/UnitTests/bin/Debug
