################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IoReader/.vs/IoReader/v16
/IoReader/IoReader/obj/Debug
/IoReader/IoReader/bin/Debug
